## Problem 1 - Reading in a tricky data file (*5 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` with the Pandas function `read_csv()`
    - Be sure the numerical values for rainfall and temperature are read in as numbers
    - The second row of the datafile should be skipped, but the text labels for the columns should be from the first row
    - The no-data values (assigned with value **`-9999`**) should properly be converted to `NaN`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*1.5 points*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values into `NaN` (values `-9999`)

In [ ]:
data = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print the head and the column names
print(data.head(1))
print(data.columns)

In [ ]:
# This test print should print the first row of data
print(data.loc[0].values)

In [ ]:
# This test print should print the last row of data in column 'TMIN'
print(data.tail(1)[['TMIN']].values[0][0])

### Part 2 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [ ]:
tavg_nodata_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(tavg_nodata_count)

### Part 3 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [ ]:
tmin_nodata_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(tmin_nodata_count)

### Part 4 (*0.5 points*)

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [ ]:
day_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(day_count)

### Part 5 (*0.5 points*)

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [ ]:
first_obs = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(first_obs)

### Part 6 (*0.5 points*)

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [ ]:
last_obs = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(last_obs)

### Part 7 (*0.5 points*)

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [ ]:
avg_temp = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(avg_temp)

### Part 8 (*0.5 points*)

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [ ]:
avg_temp_1969 = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(avg_temp_1969)

## Problem 2 - Calculating monthly average temperatures (*7.5 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily values we have in the data file. You can use the approaches taught in Lessons 4, 5, and 6 to solve this.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures for the each month in the dataset (i.e., for each month of each year) using the approach introduced in lesson this week
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
- Creating a new column called `temp_celsius` in the `monthly_data` DataFrame that contains the monthly average temperatures in Celsius
   - First store information about the date in a column called `DATE_m` (which should be a character string column containing the month and year info) along with the `TAVG` values in the `monthly_data` DataFrame
   - After this, you can convert the `TAVG` values in Fahrenheit to Celsius
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [ ]:
monthly_data = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

In [ ]:
# This test print should print the column names of monthly_data
print(monthly_data.columns)

In [ ]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

In [ ]:
# This test print should print the median of temp_celsius
print(monthly_data['temp_celsius'].median())

## Problem 3 - Calculating temperature anomalies (*7.5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating a mean temperature ***for each month*** over the period from 1952 up to and including 1980 using the data in the data file
    - You should end up with 12 values, 1 mean temperature for each month in that period, and store them in a new Pandas DataFrame called `reference_temps`
    - The columns in the new DataFrame should be titled `Month` and `ref_temp`
    
    For example, your `reference_temps` data should be something like that below, 1 value for each month of the year (12 total) and remember these temperatures should be in degrees Celsius:
   
| Month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

- Calculating a temperature anomaly for every month in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months
    - The temperature anomaly we want to calculate is simply the temperature for a given month in `monthly_data` (`temp_celsius` column) minus the corresponding monthly reference temperature in the `ref_temp` column of the `reference_temps` DataFrame
        - Hint: You need to make a table join (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html))
    - You should thus end up with three new columns in the `monthly_data` DataFrame: 
        1. `Diff`: The temperature anomaly, the difference in temperature for a given month (e.g., February 1960) compared to the average during the reference period (e.g., for February 1952-1980), 
        2. `Month`: The month
        3. `ref_temp`: The monthly reference temperature
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Let's confirm that we have the data
print(monthly_data.head())

In [ ]:
# This test print should print the length of the result
print(len(monthly_data))

In [ ]:
# This test print should print the mean difference value
print(monthly_data['Diff'].mean())

In [ ]:
# This test print should print the minimum difference value
print(monthly_data['Diff'].min())

In [ ]:
# This test print should print the maximum difference value
print(monthly_data['Diff'].max())

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)